<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <title>Tamrec-UI featured by AngularJS Material</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="./build/vendors.min.css">
  <link rel="stylesheet" href="./build/app.min.css">
</head>

<body ng-app="ngTamrec" layout="column">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">
    <md-content ng-controller="MenuCtrl" class="md-padding">
      <md-button ng-click="close()" class="md-primary menuBtn menuBtnBlack">
        <span class="visuallyhidden">Menu</span>
      </md-button>
      <md-divider></md-divider>
      <md-list>
        <md-item ng-repeat="item in menuItems">
          <md-item-content>
            <div class="md-tile-content">
              <md-button ui-sref="{{item.state || 'indexPage'}}">{{item.title}}</md-button>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <md-toolbar class="tamrec-steel-blue" layout="row" ng-controller="NavCtrl">
    <md-button ng-click="toggleMenu()" class="menuBtn menuBtnWhite">
      <span class="visuallyhidden">Menu</span>
    </md-button>
    <h1 ui-sref="indexPage">Tamrecords</h1>
  </md-toolbar>

  <md-toolbar class="md-tall md-accent" layout="column">
    <h2 class="md-toolbar-tools">
      <span>Branding: clickable</span>
    </h2>
  </md-toolbar>

  <div layout="row" flex ng-clock class="fadeZoom" ui-view></div>

  <div layout="row" flex ng-clock>
    <div layout="column" flex class="content-wrapper" id="content" ng-controller="DummyCtrl">
      <md-content layout="column" flex class="md-padding">
        <section layout="row" layout-sm="column" layout-align="center">
          <md-button ng-click="start()">Start Loading</md-button>
          <md-button ng-click="complete()">Complete Loading</md-button>
        </section>
      </md-content>
      <md-content layout="column" layout-align="center" class="md-padding">
        <md-button ui-sref="errorPage">Error</md-button>
      </md-content>
    </div>
  </div>

  <script src="./build/vendors.min.js"></script>
  <script src="./build/app.min.js"></script>

</body>

</html>
