<!--
Use `flex` [below] to have the content area
fill the available horizontal display area on the right side
-->

<div layout="column" flex class="content-wrapper" md-theme="podcastsTheme" id="podcasts">
  <md-toolbar>
    <h1>Podcasts</h1>
  </md-toolbar>
</div>

<div layout="column" flex="33" class="content-wrapper" md-theme="newsTheme" id="news">
  <md-toolbar>
    <h1>News</h1>
  </md-toolbar>
  <md-content layout="rows">
  <md-grid-list md-cols="2" md-row-height="fit">
    <md-grid-tile>News</md-grid-tile>
    <md-grid-tile>News</md-grid-tile>
    <md-grid-tile>News</md-grid-tile>
    <md-grid-tile>News</md-grid-tile>
  </md-grid-list>
  </md-content>
</div>
